@model IEnumerable<BeerShopProject.Models.BeerEditVM>

@{
    ViewBag.Title = "Index";
}

<div class="container" ng-app="app" ng-controller="BeerController">
    <div class="row">
        <div class="col-md-8">

            <h2>{{message}}</h2>
            <br /><br />
            <p>{{dataFromJson | json}}</p>
            <h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HasTried)
                    </th>
                    <th></th>
                </tr>
                <tr ng-repeat="beer in dataFromJson">
                    <td>
                        {{beer.Name}}
                    </td>
                    <td>
                        {{beer.Color}}
                    </td>
                    <td>
                        <input type="checkbox" disabled="disabled" ng-model="beer.HasTried" />Have Tasted
                    </td>
                    <td>
                        <a href="@Url.Action("Edit","BeerEditVMs")/?id={{beer.id}}"><i class="glyphicon glyphicon-align-left glyphicon-edit"></i></a>   @*Edit is method BeerEditVMs is controller*@
                        <a href="@Url.Action("Delete","BeerEditVMs")/?id={{beer.id}}"><i class="glyphicon glyphicon-align-left glyphicon-minus"></i></a>
                        <a href="@Url.Action("Details","BeerEditVMs")/?id={{beer.id}}"><i class="glyphicon glyphicon-align-left glyphicon-info-sign"></i></a>
                    </td>
                </tr>
                <tr ng-if="showOrNotAtFirst">
                    <td>
                        <input type="text" class="form-control" placeholder="Name" ng-model="beer.Name" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Color" ng-model="beer.Color" />
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" ng-model="beer.HasTried" />Have Tasted
                        </div>
                    </td>
                    <td>
                        @*here loading button directive is custom made in app.js.but you see the name of the directive
                        is loadingButton. we used here loading-button. angular can understand this and removes the -
                        spin="isAdding is the true or false property to start and end the loading spin"*@
                        <button type="button" class="btn btn-primary ladda-button" ng-click="addBeer()" spin="isAdding" loading-button data-style="expand-left">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showOrNot(false)">Cancel</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a ng-click="showOrNot(true)" class="btn btn-primary">Add Beer</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        {{beer | json}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
